/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04.11.2016, 18:28:33
    Author     : Marco Mancuso, David Hall, Raphael Denz
*/

/*general styles*/
body{
    background: rgb(254,255,232); /* Old browsers */
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%,
        rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, 
        rgba(255,255,255,1) 100%); 
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,
        rgba(243,243,243,1) 50%,
        rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); 
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,
        rgba(243,243,243,1) 50%,
        rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); 
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ 
    font-size:100%;
    margin: 0em;
    padding: 0em;
}
h1{
    font-size: 2.5em;
    line-height: 3.125em;
    font-family: verdana;
    font-weight: 100;
    color: #77797A;
    margin: 0em;
    text-align: center;
}
h2{
    font-size: 1.563em;
    line-height: 1.8em;
    font-family: verdana;
    font-weight: 100;
    color: #2F2D2C;
    margin: 0em;
    padding: 1.25em;
    text-align: left;
}
p {
    line-height: 1.25em;
    color: #000000;
    font-family: verdana;
    font-style: normal;
    text-align: justify;
    text-decoration: none;
    font-weight: 100;
    text-transform: none;
    margin: 0em;
    padding: 1.25em;
}
ul{
    margin:0px;
    padding: 0px;   
}
li{
    list-style: none;
    margin:0.313em 0em 0.313em 0em; 
}
img {
    width: 90%;
    height: auto;
    max-width: 100%;
}
a{
    text-decoration: none;
}


#menubar{
    display:block;
    background: white;
}

#menubar ul{
    display:block;
    width: 1.5em;
    padding:0.9em;

}
menubar ul li{
    display: inline;
}
/*Header*/ 

#header {

    display: block; 
    /*background: yellow;*/
    background: #2F2D2C;
    width: 100%;
    margin: 0 auto;
    height: 14.25em;
    border-top: 1px solid #000;}

nav{

    height: 4em;
    background: #2F2D2C;
    text-align: center;

}

nav ul li a{
    margin-left: 1.188em;
    margin-right: 0.188em;

    color: #454040;
    font-size: 1.25em;
    line-height: 1.875em;
    color: #F5F5DC;
    transition:background 0.2s;
    -webkit-transition:background 0.2s;

    font-family: verdana;
    font-style: normal;
    text-align: justify;
}

nav ul li a p{
    text-align: center;
}


nav ul li input:hover{
    border-bottom: 0.188em solid #E7590B;
}

nav ul li a:hover{
    border-bottom: 0.188em solid #E7590B;
}
nav ul li a.active{
    border-bottom: 0.188em solid #E7590B;
}

.nav1{
    width: 100%;
    background: white;
    display: inline-block;
    height: 6em;
}
.nav1 form{
    margin-left: 0;
    margin-top: 1em;
}
.nav1 ul li{

    display: inline-block;
    margin-left: 4em;
    margin-right: 4em;
    border-radius: 1em;

}


input, select
{
    border-radius: 1em;
    font-size: 90%;
    line-height: 1.2em;
    padding: 0.375em 0.75em;
}

.nav2{

    float: left;
    display: block;
    text-align: left;
    height: 11em;
    width: 24%;
    border-radius: 1em;
    margin-left: 0.625em;

}

form {
    border-radius: 1em;
}


#mainMenu{
}
#subMenu{
    background:#2F2D2C;
    border-radius: 1em;
    margin-top: 2em;
}

#main{
    width: 100%;
    height: 35em;
}

.content{
    margin-left: 0.625em;
    margin-right: 0.625em;
    float:right;
    width:72.5%;
    height: 90%;
    border-style: solid;
}
footer{
    background: #2F2D2C;
    width: 100%;
    margin: 0 auto;
    height: 3em;
    border-top: 1px solid #000;
}
footer ul li{
    color: #F5F5DC;
    display: inline-block;
    margin-left: 2em;
}

.IMGtransparency1 {

    margin-top: 1em;
    margin-left:2%;
    margin-right:1%;
    border-radius: 1em;
    display: inline;
    opacity:0.5;	
    float:left;
    width:30%;  
    height:12.25em;
    box-shadow:0px 2px -2px #F5F5DC;
    border:0;

}


.IMGtransparency1:hover {
    box-shadow: 2px 2px 1px #F5F5DC;
    opacity:1;
    border:2;
}

p.thick {
    font-weight: bold;
    font-size: 2.17em;
    font-family: verdana;
    margin-left: 14.2em;
}

p.thick1 {
    font-weight: bold;
}

.boxPicturePos {
    padding-top: 7.5em;
    padding-right: 1.875em;
    padding-bottom: 3.125em;
    padding-left: 5em;
}
.logout {
    font-family: verdana;
    color: #DAE0DA !important;
    font-size: 1em;
    box-shadow: 3px 3px 1px #EDF9F8;
    padding: 10px 25px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 1em;
    border: 2px solid #B6BDB3;
    background: #63B8EE;
    background: linear-gradient(top,  #77797A,  #333333);
    background: -ms-linear-gradient(top,  #77797A,  #333333);
    background: -webkit-gradient(linear, left top, left bottom, from(#77797A), to(#333333));
    background: -moz-linear-gradient(top,  #77797A,  #333333);
}
.logout:hover {
    color: #000000 !important;
    background: #468CCF;
    background: linear-gradient(top,  #CF132C,  #700B12);
    background: -ms-linear-gradient(top,  #CF132C,  #700B12);
    background: -webkit-gradient(linear, left top, left bottom, from(#CF132C), to(#700B12));
    background: -moz-linear-gradient(top,  #CF132C,  #700B12);
}


.login{
    font-family: verdana;
    color: #DAE0DA !important;
    font-size: 1em;
    box-shadow: 3px 3px 1px #EDF9F8;
    padding: 10px 25px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 1em;
    border: 2px solid #B6BDB3;
    background: #63B8EE;
    background: linear-gradient(top,  #77797A,  #333333);
    background: -ms-linear-gradient(top,  #77797A,  #333333);
    background: -webkit-gradient(linear, left top, left bottom, from(#77797A), to(#333333));
    background: -moz-linear-gradient(top,  #77797A,  #333333);
}
.login:hover{
    color: #000000 !important;
    background: #468CCF;
    background: linear-gradient(top,  #31CF2B,  #4AEE5A);
    background: -ms-linear-gradient(top,  #31CF2B,  #4AEE5A);
    background: -webkit-gradient(linear, left top, left bottom, from(#31CF2B), to(#4AEE5A));
    background: -moz-linear-gradient(top,  #31CF2B,  #4AEE5A);
}


