/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04.11.2016, 18:28:33
    Author     : Marco Mancuso, David Hall, Raphael Denz
*/

/*general styles*/
body{
        background:#DCDCDC;
        font-size:100%;
        margin: 0em;
        padding: 0em;
}
h1{
    font-size: 2.5em;
    line-height: 3.125em;
    font-family: verdana;
    font-weight: 100;
    color: #F5F5DC;
    margin: 0em;
    text-align: center;
}
h2{
    font-size: 1.563em;
    line-height: 1.8em;
    font-family: verdana;
    font-weight: 100;
    color: #2F2D2C;
    margin: 0em;
    padding: 1.25em;
    text-align: left;
}


p {
  line-height: 1.25em;
  color: #000000;
  font-family: verdana;
  font-style: normal;
  text-align: justify;
  text-decoration: none;
  font-weight: 100;
  text-transform: none;
  margin: 0em;
  padding: 1.25em;
}


ul{
    margin:0px;
    padding: 0px;   
}

li{
    list-style: none;
    margin:0.313em 0em 0.313em 0em; 
}

img {
    width: 90%;
    height: auto;
    max-width: 100%;
}

a{
    text-decoration: none;
}


#menubar{
    display:block;
    background: white;
}

#menubar ul{
    display:block;
    width: 2em;
    padding:0.9em;
    
}
menubar ul li{
    display: inline;
}
/*Header*/ 

#header {
    
 display: block;  
 background: #2F2D2C;
 width: 100%;
 margin: 0 auto;
 height: 14.25em;
 border-top: 1px solid #000;}

nav{
    margin-left: 0.625em;
    height: 4em;
    background: #2F2D2C;
    
    text-align: center;
    border-radius: 1em;
}

nav ul li a{
    margin: 0em 0.188em 0em 0.188em;
    color: #454040;
    font-size: 1.25em;
    line-height: 2.5em;
    color: #F5F5DC;
    
    transition:background 0.2s;
    -webkit-transition:background 0.2s;
    }
    nav ul li a p{
        text-align: center;
    }
    
    
    nav ul li input:hover{
/*        background:#2F2D2C;*/
        border-bottom: 0.188em solid #E7590B;
    }
    
    nav ul li a:hover{
/*        background:#2F2D2C;*/
        border-bottom: 0.188em solid #E7590B;
    }
    nav ul li a.active{
/*        background:#2F2D2C;*/
        border-bottom: 0.188em solid #E7590B;
    }

.nav1{
    width: 100%;
    background: white;
    display: inline;
    border-radius: 1em;
    
    
}

.nav2{
    
    float: left;
    display: block;
    text-align: left;
    height: 15em;
    width: 24%;
    
}

#mainMenu{
  
   
}
#subMenu{
    background: #454040;
    border-radius: 1em;
    margin-top: 2em;
}

#main{
    width: 100%;
    
    height: 46.875em;
}

.content{
    margin-left: 0.625em;
    
    float:right;
    width:73%;
    height: 30.875em;
border-style: solid;
}

.IMGtransparency1 {

    margin-top: 1em;
    border-radius: 1em;
    display: inline;
    opacity:0.5;	
    float:left;
    width:30%;
    margin-left:1em;
    height:12.25em;
    box-shadow:0px 2px -2px #F5F5DC;
/*    width:9.375em;
    height:9.375em;*/
    border:0;
    
}


.IMGtransparency1:hover {
    border-radius: 1em;
    box-shadow: 2px 2px 1px #F5F5DC;
    display: inline;
    opacity:1;
    float: left;
    width:30%;
    height:12.25em;
    margin-left:1em;
    border:2;
}

.logoutBtn {

    
  font-family: verdana;
  font-weight: bold;
  color: #000000 !important;
  font-size: 15px;
  text-shadow: 2px 2px 2px #DE523C;
  box-shadow: 2px 2px 1px #465078;
  padding: 10px 10px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  border: 2px ridge #3866A3;
  background: #63B8EE;
  background: linear-gradient(top,  #EE1A36,  #CF806C);
  background: -ms-linear-gradient(top,  #EE1A36,  #CF806C);
  background: -webkit-gradient(linear, left top, left bottom, from(#EE1A36), to(#CF806C));
  background: -moz-linear-gradient(top,  #EE1A36,  #CF806C);
}
.logoutBtn:hover {
  color: #14396A !important;
  background: #468CCF;
  background: linear-gradient(top,  #468CCF,  #63B8EE);
  background: -ms-linear-gradient(top,  #468CCF,  #63B8EE);
  background: -webkit-gradient(linear, left top, left bottom, from(#468CCF), to(#63B8EE));
  background: -moz-linear-gradient(top,  #468CCF,  #63B8EE);
}
p.thick {
    font-weight: bold;
    font-size: 2.17em;
     font-family: verdana;
     margin-left: 14.2em;
}

p.thick1 {
    font-weight: bold;
}

.boxPicturePos {
    padding-top: 120px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}